{{#if siteSettings.daily_email_enabled}}
  <div class="control-group">
    <label class="control-label">{{i18n 'daily_email.daily'}}</label>
    {{preference-checkbox labelKey="daily_email.preference_label" checked=model.custom_fields.user_daily_email_enabled}}
    {{log this}}
    <div class='instructions'>{{{i18n 'daily_email.instructions'}}}</div>
  </div>
{{/if}}
